@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", "sans-serif";
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f6f7fb;
}

::selection {
  color: #fff;
  background-color: #7d2ae8;
}

.container {
  padding: 2rem 7rem;
  border-radius: 14px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.result-images {
  display: flex;
  column-gap: 7rem;
}

.container.start .user-result {
  transform-origin: left;
  animation: userShake 0.7s ease infinite;
}

@keyframes userShake {
  50% {
    transform: translateX(15px);
  }
}

.container.start .cpu-result {
  transform-origin: right;
  animation: cpuShake 0.7s ease infinite;
}

@keyframes cpuShake {
  50% {
    transform: translateX(-15px);
  }
}

.result-images img {
  width: 100px;
}

.result {
  text-align: center;
  font-size: 2rem;
  color: #0F0F0F;
  margin-top: 1.5rem;
}

.option-image img {
  width: 50px;
}

.option-images {
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
  justify-content: space-between;
}

.container.start .option-images {
  pointer-events: none;
}

.option-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.option-image:hover {
  opacity: 1;
}

.option-image.active {
  opacity: 1;
}

.option-image img {
  pointer-events: none;
}

.option-image p {
  color: #0F0F0F;
  font-size: 1.235rem;
  margin-top: 1rem;
  pointer-events: none;
}
